app/checklist.jade
extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1.text-center Congratulations!
            h2.text-center.tagline Increase your chances of getting a loan at better rates, by completing the following:

    .container
      .row
        .col-md-8.col-md-offset-2
          .bonus-list.list-group
            a.list-group-item.list-group-item-success(href='#')
              h4.list-group-item-heading
                i.fa.fa-check-circle &nbsp;
                | Get your Credit Trust Score from Lenddo
              p.list-group-item-text Lenddo lets you simply and securely prove your identity and establish your character online to unlock loans, online shopping and improve your chances of employment.
            a.list-group-item(href='#', data-toggle='modal', data-target='#modal-phone')
              h4.list-group-item-heading
                | Verify your Mobile Number
              p.list-group-item-text Verifying your mobile number  is the best way to make sure that you can be contacted by our lenders
            a.list-group-item(href='upload.html')
              h4.list-group-item-heading Upload Required Documents
              p.list-group-item-text Upload your required documents lorem ipsum dolor sit amet, consectetur adipisicing elit
            a.list-group-item(href='#')
              h4.list-group-item-heading Co-maker
              p.list-group-item-text Who can be a co-maker. why they need to have this. Fugit in ex, ut, quae veniam illum nostrum. Modi voluptatem rem nemo iure tempore voluptates unde!

            a.list-group-item(href='#')
              h4.list-group-item-heading Collateral
              p.list-group-item-text Providing collateral lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos reprehenderit ipsam tenetur? lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus at qui repudiandae exercitationem id.



        #modal-phone.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4.modal-title VERIFY YOUR MOBILE NUMBER
              .modal-body
                form.infobox.clearfix
                  .form-group
                    label What's your active mobile number?
                    input#phone.form-control.input-lg(type="text", placeholder="(0915) 999-9999", value="(0915) 999-9999")
                  .form-group
                    label Verification Code
                    input#pin.form-control.input-lg(type="text")
                  .help-block How to get your code ipsum dolor sit amet, &nbsp;
                    a(href="http://", target="_blank") link consectetur &nbsp;
                    | adipisicing elit. Rem nemo quas obcaecati deleniti asperiores


                  .form-group(style="margin-top: 15px;")
                    button.btn.btn-primary.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#myModal') Verify &nbsp;
                      i.fa.fa-angle-double-right

checklist.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title>
    <meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords">
    <meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="index, follow" name="robots">
    <meta content="1 days" name="revisit-after">
    <meta content="2015 Copyright www.loansolutions.ph" name="copyright">
    <meta content="English" name="language">
    <meta content="General" name="Rating">
    <meta content="never" name="expires">
    <meta content="Author:loansolutions.ph" name="author">
    <meta content="Email: info@loansolutions.ph " name="email">
    <meta content="global" name="distribution">
    <meta name="geo.region" content="PH">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript">
var _vwo_code = (function()
{
  var b = 10460,
    a = 2000,
    g = 2500,
    h = false,
    c = false,
    e = document;
  return {
    use_existing_jquery: function()
    {
      return h
    },
    library_tolerance: function()
    {
      return g
    },
    finish: function()
    {
      if (!c)
      {
        c = true;
        var d = e.getElementById("_vis_opt_path_hides");
        if (d)
        {
          d.parentNode.removeChild(d)
        }
      }
    },
    finished: function()
    {
      return c
    },
    load: function(f)
    {
      var d = e.createElement("script");
      d.src = f;
      d.type = "text/javascript";
      d.innerText;
      d.onerror = function()
      {
        _vwo_code.finish()
      };
      e.getElementsByTagName("head")[0].appendChild(d)
    },
    init: function()
    {
      settings_timer = setTimeout("_vwo_code.finish()", a);
      this.load("//dev.visualwebsiteoptimizer.com/j.php?a=" + b + "&u=" + encodeURIComponent(e.URL) + "&r=" + Math.random());
      var f = e.createElement("style"),
        d = "body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",
        i = e.getElementsByTagName("head")[0];
      f.setAttribute("id", "_vis_opt_path_hides");
      f.setAttribute("type", "text/css");
      if (f.styleSheet)
      {
        f.styleSheet.cssText = d
      }
      else
      {
        f.appendChild(e.createTextNode(d))
      }
      i.appendChild(f);
      return settings_timer
    }
  }
}());
_vwo_settings_timer = _vwo_code.init();
    </script>
  </head>
  <body>
    <div id="fb-root">
      <script>
(function(e, a, f)
{
  var c, b = e.getElementsByTagName(a)[0];
  if (e.getElementById(f))
  {
    return
  }
  c = e.createElement(a);
  c.id = f;
  c.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  b.parentNode.insertBefore(c, b)
}(document, "script", "facebook-jssdk"));
      </script>
    </div>
    <nav class="navbar navbar-loansolutions navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <img src="assets/images/loansolutions-logo-v3.png" alt="" style="width: 250px;">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-info navbar-btn">Sign Out</button>
          </div>
        </div>
      </div>
    </nav>
    <section class="ask-panel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headline">
              <h1 class="text-center">Congratulations!</h1>
              <h2 class="text-center tagline">Increase your chances of getting a loan at better rates, by completing the following:</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="bonus-list list-group">
              <a href="#" class="list-group-item list-group-item-success">
                <h4 class="list-group-item-heading">
                  <i class="fa fa-check-circle">&nbsp;</i>Get your Credit Trust Score from Lenddo</h4>
                <p class="list-group-item-text">Lenddo lets you simply and securely prove your identity and establish your character online to unlock loans, online shopping and improve your chances of employment.</p>
              </a>
              <a href="#" data-toggle="modal" data-target="#modal-phone" class="list-group-item">
                <h4 class="list-group-item-heading">Verify your Mobile Number</h4>
                <p class="list-group-item-text">Verifying your mobile number is the best way to make sure that you can be contacted by our lenders</p>
              </a>
              <a href="upload.html" class="list-group-item">
                <h4 class="list-group-item-heading">Upload Required Documents</h4>
                <p class="list-group-item-text">Upload your required documents lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Co-maker</h4>
                <p class="list-group-item-text">Who can be a co-maker. why they need to have this. Fugit in ex, ut, quae veniam illum nostrum. Modi voluptatem rem nemo iure tempore voluptates unde!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Collateral</h4>
                <p class="list-group-item-text">Providing collateral lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos reprehenderit ipsam tenetur? lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus at qui repudiandae exercitationem id.</p>
              </a>
            </div>
          </div>
          <div id="modal-phone" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title">VERIFY YOUR MOBILE NUMBER</h4>
                </div>
                <div class="modal-body">
                  <form class="infobox clearfix">
                    <div class="form-group">
                      <label>What's your active mobile number?</label>
                      <input id="phone" type="text" placeholder="(0915) 999-9999" value="(0915) 999-9999" class="form-control input-lg">
                    </div>
                    <div class="form-group">
                      <label>Verification Code</label>
                      <input id="pin" type="text" class="form-control input-lg">
                    </div>
                    <div class="help-block">How to get your code ipsum dolor sit amet, &nbsp;<a href="http://" target="_blank">link consectetur &nbsp;</a>adipisicing elit. Rem nemo quas obcaecati deleniti asperiores</div>
                    <div style="margin-top: 15px;" class="form-group">
                      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg btn-block">Verify &nbsp;
                        <i class="fa fa-angle-double-right"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="http://www.loansolutions.ph/v2">
              <img src="assets/images/loansolutions-logo-alt.png" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4">
            <address>
              <h5>HEAD OFFICE</h5>8th Flr, Crown 7 Building, Juan Luna Ave.,
              <br>Mabolo Cebu City, 6000
              <br>(+6332) 512-4163 / (+6332) 266-6070</address>
          </div>
          <div class="col-md-5">
            <address>
              <h5>MANILA OFFICE</h5>24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,
              <br>Makati City, 1227
              <br>(+632) 491-7337</address>
          </div>
        </div>
      </div>
    </footer>
    <script type="application/javascript" src="assets/js/jquery.min.js"></script>
    <script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="assets/drunken/js/radio.js"></script>
    <script type="application/javascript" src="assets/js/jquery.inputmask.min.js"></script>
    <script type="application/javascript" src="assets/js/autoNumeric.js"></script>
    <script type="application/javascript" src="assets/js/typeahead.jquery.min.js"></script>
    <script type="application/javascript" src="assets/js/employer-list.js"></script>
    <script type="application/javascript" src="assets/js/universities.js"></script>
    <script type="application/javascript" src="assets/js/the-basics.js"></script>
    <script type="application/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript">
(function()
{
  var done = false;
  var script = document.createElement('script');
  script.async = true;
  script.type = 'text/javascript';
  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
  document.getElementsByTagName('HEAD').item(0).appendChild(script);
  script.onreadystatechange = script.onload = function(e)
  {
    if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
    {
      var w = new PCWidget(
      {
        c: '204ec076-901f-4f73-befe-e3153a2c356b',
        f: true
      });
      done = true;
    }
  };
})();
    </script>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function()
{
  var ga = document.createElement('script');
  ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
})();
    </script>
  </body>
</html>
