app/index.jade
extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Lorem ipsum dolor
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            form.infobox.clearfix
              .form-group
                label What is your name?
                .row
                  .col-md-6.col-xs-12
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="First")
                  .col-md-6.col-xs-12
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="Last")

              .form-group
                label When is your birthday?
                input#date.form-control.input-lg(type="text", placeholder="MM/DD/YYYY")
                span.help-block You must be 21 years old, but not more than 65 years old upon loan maturity

              .form-group
                label What's Your Address?
                input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="City")

              .form-group
                label What's your active mobile number?
                input#phone.form-control.input-lg(type="text", placeholder="(0915) 999-9999")
                span.help-block Lorem ipsum dolor sit amet, consectetur adipisicing elit

              .form-group
                label What's your active email?
                input.form-control.input-lg(type="email", placeholder="juan.dc@yahoo.com")

              .form-group
                label What's your primary source of income?
                .choices
                  label.radio.radio-inline
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio", checked)
                    | Salary
                  label.radio.radio-inline
                    input#optionsRadios2(type="radio", name="optionsRadios", value="option2", data-toggle="radio")
                    | I have my own Business
                  label.radio.radio-inline
                    input#optionsRadios3(type="radio", name="optionsRadios", value="option3", data-toggle="radio")
                    | Others

              .form-group
                label What's the name of the company?
                #scrollable-dropdown-menu
                  input.typeahead.form-control.input-lg(type="text", placeholder="Name of Company")

              .form-group
                label Gross Monthly Income
                input.form-control.autonumeric.input-lg(type='text', required="required", data-a-sign="Php ")

              .form-group
                label Employer Nature of Business
                input.form-control.input-lg(type="text", placeholder="Need Typehead here")

              .form-group
                label Joining date with this employer
                .row
                  .col-md-4
                    input#mmyy.form-control.input-lg(type="text", placeholder="MM/YYYY")
              br
              .form-group
                label do you have a checking Account?
                .choices
                  label.radio.radio-inline
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio", checked)
                    | Yes
                  label.radio.radio-inline
                    input#optionsRadios2(type="radio", name="optionsRadios", value="option2", data-toggle="radio")
                    | No
                span.help-block Why we are asking this lorem ipsum dolor sit amet, consectetur adipisicing.

              .form-group
                label How long have you owned a checking account?
                .choices
                  label.radio.radio-inline
                    input#opt-timecheque(type="radio", name="opt-timecheque", value="option1", data-toggle="radio")
                    | Less than 6 months
                  label.radio.radio-inline
                    input#opt-timecheque(type="radio", name="opt-timecheque", value="option2", data-toggle="radio")
                    | 6 months or longer
              br
              .form-group
                label DO YOU HAVE A CREDIT CARD?
                .choices
                  label.radio.radio-inline
                    input#opt-credit(type="radio", name="opt-credit", value="option1", data-toggle="radio", checked)
                    | Yes
                  label.radio.radio-inline
                    input#opt-credit(type="radio", name="opt-credit", value="option2", data-toggle="radio")
                    | No
                span.help-block Why we are asking this lorem ipsum dolor sit amet, consectetur adipisicing.



              .form-group
                label WHAT'S YOUR CREDIT CARD?
                input.form-control.input-lg(type="text", placeholder="eg. Visa")

              .form-group
                label HOW LONG HAVE YOU OWNED A CREDIT CARD?
                .choices
                  label.radio.radio-inline
                    input#opt-timecredit(type="radio", name="opt-timecredit", value="option1", data-toggle="radio")
                    | Less than 12 months
                  label.radio.radio-inline
                    input#opt-timecredit(type="radio", name="opt-timecredit", value="option2", data-toggle="radio", checked)
                    | 12 months or longer



              .form-group.pull-right
                button.btn.btn-danger.btn-lg.btn-embossed(type='button', data-toggle='modal', data-target='#myModal') Continue Application &nbsp;
                  i.fa.fa-angle-double-right

        .col-md-4
          blockquote
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ut, laboriosam itaque ab fugit dolorem distinctio quam pariatur suscipit nostrum commodi facere nihil sunt est cumque officia natus velit voluptates.
            footer Rein Figuracion,
              cite Cebu City


    #myModal.md-loader.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            h2.text-center We're working hard to &nbsp;
              span.text-ls find the best lender matches for you. &nbsp;
              | One moment...
            img(src="assets/images/blender.gif", alt="" class="img-responsive")

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title>
    <meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords">
    <meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="index, follow" name="robots">
    <meta content="1 days" name="revisit-after">
    <meta content="2015 Copyright www.loansolutions.ph" name="copyright">
    <meta content="English" name="language">
    <meta content="General" name="Rating">
    <meta content="never" name="expires">
    <meta content="Author:loansolutions.ph" name="author">
    <meta content="Email: info@loansolutions.ph " name="email">
    <meta content="global" name="distribution">
    <meta name="geo.region" content="PH">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript">
var _vwo_code = (function()
{
  var b = 10460,
    a = 2000,
    g = 2500,
    h = false,
    c = false,
    e = document;
  return {
    use_existing_jquery: function()
    {
      return h
    },
    library_tolerance: function()
    {
      return g
    },
    finish: function()
    {
      if (!c)
      {
        c = true;
        var d = e.getElementById("_vis_opt_path_hides");
        if (d)
        {
          d.parentNode.removeChild(d)
        }
      }
    },
    finished: function()
    {
      return c
    },
    load: function(f)
    {
      var d = e.createElement("script");
      d.src = f;
      d.type = "text/javascript";
      d.innerText;
      d.onerror = function()
      {
        _vwo_code.finish()
      };
      e.getElementsByTagName("head")[0].appendChild(d)
    },
    init: function()
    {
      settings_timer = setTimeout("_vwo_code.finish()", a);
      this.load("//dev.visualwebsiteoptimizer.com/j.php?a=" + b + "&u=" + encodeURIComponent(e.URL) + "&r=" + Math.random());
      var f = e.createElement("style"),
        d = "body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",
        i = e.getElementsByTagName("head")[0];
      f.setAttribute("id", "_vis_opt_path_hides");
      f.setAttribute("type", "text/css");
      if (f.styleSheet)
      {
        f.styleSheet.cssText = d
      }
      else
      {
        f.appendChild(e.createTextNode(d))
      }
      i.appendChild(f);
      return settings_timer
    }
  }
}());
_vwo_settings_timer = _vwo_code.init();
    </script>
  </head>
  <body>
    <div id="fb-root">
      <script>
(function(e, a, f)
{
  var c, b = e.getElementsByTagName(a)[0];
  if (e.getElementById(f))
  {
    return
  }
  c = e.createElement(a);
  c.id = f;
  c.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  b.parentNode.insertBefore(c, b)
}(document, "script", "facebook-jssdk"));
      </script>
    </div>
    <nav class="navbar navbar-loansolutions navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <img src="assets/images/loansolutions-logo-v3.png" alt="" style="width: 250px;">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-info navbar-btn">Sign Out</button>
          </div>
        </div>
      </div>
    </nav>
    <section class="ask-panel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headline">
              <h1>Lorem ipsum dolor</h1>
              <h2 class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="boxed">
              <form class="infobox clearfix">
                <div class="form-group">
                  <label>What is your name?</label>
                  <div class="row">
                    <div class="col-md-6 col-xs-12">
                      <input type="text" autofocus="autofocus" required="required" placeholder="First" class="form-control input-lg">
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <input type="text" autofocus="autofocus" required="required" placeholder="Last" class="form-control input-lg">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>When is your birthday?</label>
                  <input id="date" type="text" placeholder="MM/DD/YYYY" class="form-control input-lg"><span class="help-block">You must be 21 years old, but not more than 65 years old upon loan maturity</span>
                </div>
                <div class="form-group">
                  <label>What's Your Address?</label>
                  <input type="text" autofocus="autofocus" required="required" placeholder="City" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>What's your active mobile number?</label>
                  <input id="phone" type="text" placeholder="(0915) 999-9999" class="form-control input-lg"><span class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                </div>
                <div class="form-group">
                  <label>What's your active email?</label>
                  <input type="email" placeholder="juan.dc@yahoo.com" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>What's your primary source of income?</label>
                  <div class="choices">
                    <label class="radio radio-inline">
                      <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" data-toggle="radio" checked>Salary</label>
                    <label class="radio radio-inline">
                      <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2" data-toggle="radio">I have my own Business</label>
                    <label class="radio radio-inline">
                      <input id="optionsRadios3" type="radio" name="optionsRadios" value="option3" data-toggle="radio">Others</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>What's the name of the company?</label>
                  <div id="scrollable-dropdown-menu">
                    <input type="text" placeholder="Name of Company" class="typeahead form-control input-lg">
                  </div>
                </div>
                <div class="form-group">
                  <label>Gross Monthly Income</label>
                  <input type="text" required="required" data-a-sign="Php " class="form-control autonumeric input-lg">
                </div>
                <div class="form-group">
                  <label>Employer Nature of Business</label>
                  <input type="text" placeholder="Need Typehead here" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>Joining date with this employer</label>
                  <div class="row">
                    <div class="col-md-4">
                      <input id="mmyy" type="text" placeholder="MM/YYYY" class="form-control input-lg">
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label>do you have a checking Account?</label>
                  <div class="choices">
                    <label class="radio radio-inline">
                      <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" data-toggle="radio" checked>Yes</label>
                    <label class="radio radio-inline">
                      <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2" data-toggle="radio">No</label>
                  </div><span class="help-block">Why we are asking this lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                </div>
                <div class="form-group">
                  <label>How long have you owned a checking account?</label>
                  <div class="choices">
                    <label class="radio radio-inline">
                      <input id="opt-timecheque" type="radio" name="opt-timecheque" value="option1" data-toggle="radio">Less than 6 months</label>
                    <label class="radio radio-inline">
                      <input id="opt-timecheque" type="radio" name="opt-timecheque" value="option2" data-toggle="radio">6 months or longer</label>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label>DO YOU HAVE A CREDIT CARD?</label>
                  <div class="choices">
                    <label class="radio radio-inline">
                      <input id="opt-credit" type="radio" name="opt-credit" value="option1" data-toggle="radio" checked>Yes</label>
                    <label class="radio radio-inline">
                      <input id="opt-credit" type="radio" name="opt-credit" value="option2" data-toggle="radio">No</label>
                  </div><span class="help-block">Why we are asking this lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                </div>
                <div class="form-group">
                  <label>WHAT'S YOUR CREDIT CARD?</label>
                  <input type="text" placeholder="eg. Visa" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>HOW LONG HAVE YOU OWNED A CREDIT CARD?</label>
                  <div class="choices">
                    <label class="radio radio-inline">
                      <input id="opt-timecredit" type="radio" name="opt-timecredit" value="option1" data-toggle="radio">Less than 12 months</label>
                    <label class="radio radio-inline">
                      <input id="opt-timecredit" type="radio" name="opt-timecredit" value="option2" data-toggle="radio" checked>12 months or longer</label>
                  </div>
                </div>
                <div class="form-group pull-right">
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger btn-lg btn-embossed">Continue Application &nbsp;
                    <i class="fa fa-angle-double-right"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ut, laboriosam itaque ab fugit dolorem distinctio quam pariatur suscipit nostrum commodi facere nihil sunt est cumque officia natus velit voluptates.</p>
              <footer>Rein Figuracion,
                <cite>Cebu City</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="md-loader modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h2 class="text-center">We're working hard to &nbsp;<span class="text-ls">find the best lender matches for you. &nbsp;</span>One moment...</h2>
              <img src="assets/images/blender.gif" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="http://www.loansolutions.ph/v2">
              <img src="assets/images/loansolutions-logo-alt.png" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4">
            <address>
              <h5>HEAD OFFICE</h5>8th Flr, Crown 7 Building, Juan Luna Ave.,
              <br>Mabolo Cebu City, 6000
              <br>(+6332) 512-4163 / (+6332) 266-6070</address>
          </div>
          <div class="col-md-5">
            <address>
              <h5>MANILA OFFICE</h5>24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,
              <br>Makati City, 1227
              <br>(+632) 491-7337</address>
          </div>
        </div>
      </div>
    </footer>
    <script type="application/javascript" src="assets/js/jquery.min.js"></script>
    <script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="assets/drunken/js/radio.js"></script>
    <script type="application/javascript" src="assets/js/jquery.inputmask.min.js"></script>
    <script type="application/javascript" src="assets/js/autoNumeric.js"></script>
    <script type="application/javascript" src="assets/js/typeahead.jquery.min.js"></script>
    <script type="application/javascript" src="assets/js/employer-list.js"></script>
    <script type="application/javascript" src="assets/js/universities.js"></script>
    <script type="application/javascript" src="assets/js/the-basics.js"></script>
    <script type="application/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript">
(function()
{
  var done = false;
  var script = document.createElement('script');
  script.async = true;
  script.type = 'text/javascript';
  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
  document.getElementsByTagName('HEAD').item(0).appendChild(script);
  script.onreadystatechange = script.onload = function(e)
  {
    if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
    {
      var w = new PCWidget(
      {
        c: '204ec076-901f-4f73-befe-e3153a2c356b',
        f: true
      });
      done = true;
    }
  };
})();
    </script>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function()
{
  var ga = document.createElement('script');
  ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
})();
    </script>
  </body>
</html>
