register.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title>
    <meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords">
    <meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="index, follow" name="robots">
    <meta content="1 days" name="revisit-after">
    <meta content="2015 Copyright www.loansolutions.ph" name="copyright">
    <meta content="English" name="language">
    <meta content="General" name="Rating">
    <meta content="never" name="expires">
    <meta content="Author:loansolutions.ph" name="author">
    <meta content="Email: info@loansolutions.ph " name="email">
    <meta content="global" name="distribution">
    <meta name="geo.region" content="PH">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/register.css">
    <script type="text/javascript">
var _vwo_code = (function()
{
  var b = 10460,
    a = 2000,
    g = 2500,
    h = false,
    c = false,
    e = document;
  return {
    use_existing_jquery: function()
    {
      return h
    },
    library_tolerance: function()
    {
      return g
    },
    finish: function()
    {
      if (!c)
      {
        c = true;
        var d = e.getElementById("_vis_opt_path_hides");
        if (d)
        {
          d.parentNode.removeChild(d)
        }
      }
    },
    finished: function()
    {
      return c
    },
    load: function(f)
    {
      var d = e.createElement("script");
      d.src = f;
      d.type = "text/javascript";
      d.innerText;
      d.onerror = function()
      {
        _vwo_code.finish()
      };
      e.getElementsByTagName("head")[0].appendChild(d)
    },
    init: function()
    {
      settings_timer = setTimeout("_vwo_code.finish()", a);
      this.load("//dev.visualwebsiteoptimizer.com/j.php?a=" + b + "&u=" + encodeURIComponent(e.URL) + "&r=" + Math.random());
      var f = e.createElement("style"),
        d = "body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",
        i = e.getElementsByTagName("head")[0];
      f.setAttribute("id", "_vis_opt_path_hides");
      f.setAttribute("type", "text/css");
      if (f.styleSheet)
      {
        f.styleSheet.cssText = d
      }
      else
      {
        f.appendChild(e.createTextNode(d))
      }
      i.appendChild(f);
      return settings_timer
    }
  }
}());
_vwo_settings_timer = _vwo_code.init();
    </script>
  </head>
  <body>
    <nav class="navbar navbar-loansolutions navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <img src="assets/images/loansolutions-logo-v3.png" alt="" style="width: 250px;">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-info navbar-btn">Sign Out</button>
          </div>
        </div>
      </div>
    </nav>
    <section class="ask-panel">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="boxed">
              <div class="headline">
                <h1 class="text-center">Register</h1>
                <h2 class="text-center tagline">Lorem ipsum adipisicing elit. Sit molestiae, quod voluptatum maxime!</h2>
              </div>
              <form class="infobox clearfix">
                <div class="form-group">
                  <label>What's your active email?</label>
                  <input type="email" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger btn-lg btn-embossed btn-block">Continue Application &nbsp;
                    <i class="fa fa-angle-double-right"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4 hidden">
            <div class="list-group steps">
              <a href="app-1.html" class="list-group-item done">
                <i class="fa fa-check"></i>Loan</a>
              <a href="app-2.html" class="list-group-item active">
                <i class="fa fa-dot-circle-o"></i>Personal</a>
              <a href="app-1.html" class="list-group-item disabled">
                <i class="fa fa-circle-o"></i>Financial</a>
              <a href="app-1.html" class="list-group-item disabled">
                <i class="fa fa-circle-o"></i>Documents</a>
              <a href="app-1.html" class="list-group-item disabled">
                <i class="fa fa-circle-o"></i>Matching Lenders</a>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="md-loader modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h2 class="text-center">We're working hard to &nbsp;<span class="text-ls">find the best lender matches for you. &nbsp;</span>One moment...</h2>
              <img src="assets/images/blender.gif" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="application/javascript" src="assets/js/jquery.min.js"></script>
    <script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="assets/drunken/js/radio.js"></script>
    <script type="application/javascript" src="assets/js/jquery.inputmask.min.js"></script>
    <script type="application/javascript" src="assets/js/autoNumeric.js"></script>
    <script type="application/javascript" src="assets/js/typeahead.jquery.min.js"></script>
    <script type="application/javascript" src="assets/js/employer-list.js"></script>
    <script type="application/javascript" src="assets/js/universities.js"></script>
    <script type="application/javascript" src="assets/js/the-basics.js"></script>
    <script type="application/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript">
(function()
{
  var done = false;
  var script = document.createElement('script');
  script.async = true;
  script.type = 'text/javascript';
  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
  document.getElementsByTagName('HEAD').item(0).appendChild(script);
  script.onreadystatechange = script.onload = function(e)
  {
    if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
    {
      var w = new PCWidget(
      {
        c: '204ec076-901f-4f73-befe-e3153a2c356b',
        f: true
      });
      done = true;
    }
  };
})();
    </script>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function()
{
  var ga = document.createElement('script');
  ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
})();
    </script>
  </body>
</html>

app/register.jade
extends _layoutPlain
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
  link(rel="stylesheet", href="assets/css/register.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-8.col-md-offset-2
          .boxed
            .headline
              h1.text-center Register
              h2.text-center.tagline Lorem ipsum adipisicing elit. Sit molestiae, quod voluptatum maxime!
            form.infobox.clearfix
              .form-group
                label What's your active email?
                input.form-control.input-lg(type="email")

              .form-group
                label Password
                input.form-control.input-lg(type="password")

              .form-group
                button.btn.btn-danger.btn-lg.btn-embossed.btn-block(type='button', data-toggle='modal', data-target='#myModal') Continue Application &nbsp;
                  i.fa.fa-angle-double-right

        .col-md-4.hidden
          .list-group.steps
            a.list-group-item.done(href='app-1.html')
              i.fa.fa-check
              | Loan
            a.list-group-item.active(href='app-2.html')
              i.fa.fa-dot-circle-o
              | Personal
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Financial
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Documents
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Matching Lenders


    #myModal.md-loader.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            h2.text-center We're working hard to &nbsp;
              span.text-ls find the best lender matches for you. &nbsp;
              | One moment...
            img(src="assets/images/blender.gif", alt="" class="img-responsive")
