app/upload.jade
extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Upload Document
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            img(src="assets/images/upload-holder.jpg", alt="", width="100%")


            .panel.panel-default(style="margin: 20px 0;")
              .panel-body
                h4(style="margin:20px 0; text-transform: uppercase;") Requirements for locally-employed borrowers
                ul
                  li One valid ID (photo-bearing government issued)

            a.btn.btn-danger.btn-lg.btn-embossed.btn-block(href="checklist.html") back to checklist


        .col-md-4
          img(src="assets/images/uploading-docs.jpg", alt="")

upload.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title>
    <meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords">
    <meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="index, follow" name="robots">
    <meta content="1 days" name="revisit-after">
    <meta content="2015 Copyright www.loansolutions.ph" name="copyright">
    <meta content="English" name="language">
    <meta content="General" name="Rating">
    <meta content="never" name="expires">
    <meta content="Author:loansolutions.ph" name="author">
    <meta content="Email: info@loansolutions.ph " name="email">
    <meta content="global" name="distribution">
    <meta name="geo.region" content="PH">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript">
var _vwo_code = (function()
{
  var b = 10460,
    a = 2000,
    g = 2500,
    h = false,
    c = false,
    e = document;
  return {
    use_existing_jquery: function()
    {
      return h
    },
    library_tolerance: function()
    {
      return g
    },
    finish: function()
    {
      if (!c)
      {
        c = true;
        var d = e.getElementById("_vis_opt_path_hides");
        if (d)
        {
          d.parentNode.removeChild(d)
        }
      }
    },
    finished: function()
    {
      return c
    },
    load: function(f)
    {
      var d = e.createElement("script");
      d.src = f;
      d.type = "text/javascript";
      d.innerText;
      d.onerror = function()
      {
        _vwo_code.finish()
      };
      e.getElementsByTagName("head")[0].appendChild(d)
    },
    init: function()
    {
      settings_timer = setTimeout("_vwo_code.finish()", a);
      this.load("//dev.visualwebsiteoptimizer.com/j.php?a=" + b + "&u=" + encodeURIComponent(e.URL) + "&r=" + Math.random());
      var f = e.createElement("style"),
        d = "body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",
        i = e.getElementsByTagName("head")[0];
      f.setAttribute("id", "_vis_opt_path_hides");
      f.setAttribute("type", "text/css");
      if (f.styleSheet)
      {
        f.styleSheet.cssText = d
      }
      else
      {
        f.appendChild(e.createTextNode(d))
      }
      i.appendChild(f);
      return settings_timer
    }
  }
}());
_vwo_settings_timer = _vwo_code.init();
    </script>
  </head>
  <body>
    <div id="fb-root">
      <script>
(function(e, a, f)
{
  var c, b = e.getElementsByTagName(a)[0];
  if (e.getElementById(f))
  {
    return
  }
  c = e.createElement(a);
  c.id = f;
  c.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  b.parentNode.insertBefore(c, b)
}(document, "script", "facebook-jssdk"));
      </script>
    </div>
    <nav class="navbar navbar-loansolutions navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <img src="assets/images/loansolutions-logo-v3.png" alt="" style="width: 250px;">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-info navbar-btn">Sign Out</button>
          </div>
        </div>
      </div>
    </nav>
    <section class="ask-panel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headline">
              <h1>Upload Document</h1>
              <h2 class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="boxed">
              <img src="assets/images/upload-holder.jpg" alt="" width="100%">
              <div style="margin: 20px 0;" class="panel panel-default">
                <div class="panel-body">
                  <h4 style="margin:20px 0; text-transform: uppercase;">Requirements for locally-employed borrowers</h4>
                  <ul>
                    <li>One valid ID (photo-bearing government issued)</li>
                  </ul>
                </div>
              </div><a href="checklist.html" class="btn btn-danger btn-lg btn-embossed btn-block">back to checklist</a>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/images/uploading-docs.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="http://www.loansolutions.ph/v2">
              <img src="assets/images/loansolutions-logo-alt.png" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4">
            <address>
              <h5>HEAD OFFICE</h5>8th Flr, Crown 7 Building, Juan Luna Ave.,
              <br>Mabolo Cebu City, 6000
              <br>(+6332) 512-4163 / (+6332) 266-6070</address>
          </div>
          <div class="col-md-5">
            <address>
              <h5>MANILA OFFICE</h5>24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,
              <br>Makati City, 1227
              <br>(+632) 491-7337</address>
          </div>
        </div>
      </div>
    </footer>
    <script type="application/javascript" src="assets/js/jquery.min.js"></script>
    <script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="assets/drunken/js/radio.js"></script>
    <script type="application/javascript" src="assets/js/jquery.inputmask.min.js"></script>
    <script type="application/javascript" src="assets/js/autoNumeric.js"></script>
    <script type="application/javascript" src="assets/js/typeahead.jquery.min.js"></script>
    <script type="application/javascript" src="assets/js/employer-list.js"></script>
    <script type="application/javascript" src="assets/js/universities.js"></script>
    <script type="application/javascript" src="assets/js/the-basics.js"></script>
    <script type="application/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript">
(function()
{
  var done = false;
  var script = document.createElement('script');
  script.async = true;
  script.type = 'text/javascript';
  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
  document.getElementsByTagName('HEAD').item(0).appendChild(script);
  script.onreadystatechange = script.onload = function(e)
  {
    if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
    {
      var w = new PCWidget(
      {
        c: '204ec076-901f-4f73-befe-e3153a2c356b',
        f: true
      });
      done = true;
    }
  };
})();
    </script>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function()
{
  var ga = document.createElement('script');
  ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
})();
    </script>
  </body>
</html>
